*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
 }

.logo{
    height: 15vh;
    background-color:#304354;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.borda{
    margin: 20px;
}

.borda2{
    margin: 20px;
    
}

header{
    display: flex;
    background-color: #304354;
}

h1{
    color: white;
}

#imagem-time{
    width:20vw;
    margin: 0;
    border: 5px solid rgb(255, 0, 0);
}

#livro-img{
    width:20vw;
    margin: 0;
    border: 5px solid rgb(255, 0, 0);
}

.img-time{
    width:20vw;
    margin: 0;
    border: 5px solid rgb(255, 0, 0);
}    
.txt3{
    width:50vw;
    margin: 0;
    border: 5px solid rgb(0, 0, 0);
}
.borda4{
    width:20vw;
    margin: 0;
    border: 5px solid rgb(255, 0, 0)
}